<br>
<br>
<div class="container-fluid">
<div class="row">
<div class="col-12">

    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Select all</label>
      </div>
      <div class="form-check form-check-inline">
    <!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->
    <a href="" routerLink="/notification">
       <i class="bi bi-arrow-clockwise"> </i>
    </a>
    
      </div>
</div>
</div>
<br>
<hr>
<div class="row header">
    <div class="col-4 name-h">

        <label for="header" > Name </label>
    </div>

    <div class="col-8 text-center top-m">
        <label for="header">Message</label>
    </div>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h3 class="card-title">Interview invitation </h3>

            </div>
            <div class="col-8">
                <p class="card-text">Ashokan you shorted for our company innoboon </p>
                <p class="card-text">viewed</p>

            </div>


        </div>


      </div>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h3 class="card-title">Innoboon Software</h3>

            </div>
            <div class="col-8">
                <p class="card-text"> Congratulation your selected come and join our company tomorrow !</p>
                <p class="card-text">viewed</p>

            </div>


        </div>


      </div>
    </div>
  </div>
</div>
<br>


  