<br>
<br>
<div class="container-fluid text-center">
    <!-- card 1 row 1-->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Html</h3>
            <img class="Aicon" src="assets/images/html5.png" alt="icon-html">
            <p class="card-text">High support</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Css</h3>
            <img class="Aicon"src="assets/images/css.png" alt="Css">
            <p class="card-text">Design your page</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd card row 2 -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Bootstrap(Lts)</h3>
            <img class="Aicon"src="assets/images/bootstrap.png" alt="icon-bootstrap">
            <p class="card-text">Make More outlook</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Angular</h3>
            <img class="Aicon" src="assets/images/angular.png" alt="icon-angula">
            <p class="card-text">Favourite Freamwork</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- page navigation -->
        <button type="navi" class="btn btn-primary" style="float:right;" routerLink="/notification">Next</button>

        <button type="navi" class="btn btn-primary" style="float:right;" routerLink="/security">Back</button>

</div>