<br>
<div class="nav-side-bar">

  <!-- profile part -->

  <div class="profile-part">
    <img src="assets/images/pro.png" alt="Profile-img" style="width:90px;">
    <h3>Kiran Acharya</h3>
  </div>

  <!-- list part -->
  <br>

  <div class="list1">
    <button class="list btn btn-primary" routerLink="/account">Account</button>
    <button class="list btn btn-primary" routerLink="/password">Password</button>
    <button class="list btn btn-primary">Security</button>
    <button class="list btn btn-primary">Application</button>
    <button class="list btn btn-primary">Notification</button>
  </div>



</div>





