<br>
<br>

<div class="container text-center">
    <h1 style="text-align: left;">Security</h1>
    <!-- card 1 row 1-->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Turn On Fingerprint Unlock</h3>
            <i class="bi bi-fingerprint" style="color:green;"></i>
            <p class="card-text">To store your physical touch</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Face Unlock</h3>
            <i class="bi bi-webcam"style="color:darkviolet;"></i>
            <p class="card-text">To Store your face record</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd card row 2 -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Set Pin Unlock</h3>
            <!-- <i class="bi bi-keyboard-fill"></i> -->
            <i class="bi bi-building-lock"style="color:skyblue;"></i>
            <p class="card-text">Make sure your pin have symbol</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Set Patten unlock</h3>
            <i class="bi bi-file-lock"style="color: rgb(255, 85, 0);"></i>
            <!-- <i class="bi bi-sim"></i> -->
            <p class="card-text">Not recommended (user wish)</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- page navigation -->
        <button type="navi" class="btn btn-primary" style="float:right;" routerLink="/application">Next</button>

        <button type="navi" class="btn btn-primary" style="float:right;" routerLink="/password">Back</button>

</div>