<br>
<div class="container">
    <h2>Password</h2>
    <br>
    <br>
    <br>

    <form action="#">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="mb-3">
                    <label for="OldPassword" class="form-label">Old Password :</label>
                    <input type="password" class="form-control" name="OldPassword"  [(ngModel)]="OldPassword" placeholder=""required>
                    <small>{{OldPasswordSmall}}</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">New Password :</label>
                    <input type="password" class="form-control" name="NewPassword" [(ngModel)]="NewPassword" placeholder="" required>
                    <small>{{NewPasswordSmall}}</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="mb-3">
                    <label for="ConfrimPassword" class="form-label">Confrim Password :</label>
                    <input type="password" class="form-control" name="ConfrimPassword" [(ngModel)]="ConfrimPassword"
                    placeholder=""required>
                    <small>{{ConfrimPasswordSmall}}</small>
                    <br>
                    <button type="submit" class="btn btn-primary"(click)="update()" >Update</button>
                    <div class="successinfo"style="float:right;">{{success}}</div>
                </div>
            </div>
        </div>
    </form>
    <!-- <div class="row"> -->
        <br>
        <br>
        <button type="navi" class="btn btn-primary" style="float:right;" routerLink="/security">Next</button>

        <button type="navi" class="btn btn-primary" style="float:right;" routerLink="/account">Back</button>
    <!-- </div> -->





</div>